[Desktop Entry]
Name=Magna-Dark-Plasma
Comment=Magna Dark Plasma Theme by l4k1
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-Name=Magna-Dark-Plasma
X-KDE-PluginInfo-Version=4.7
X-KDE-PluginInfo-Website=https://github.com/L4ki/Magna-Plasma-Themes
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true

[BlurBehindEffect]
enabled=true



